.navbar.navbar-default
{
    border-radius: 0px;
}

.user-name
{
    color: #828282;
}

.red
{
    color: red;
}

.green
{
    color: green;
}

.blue
{
    color: blue;
}

.book
{
    padding: 10px;
}