.navbar.navbar-default
{
    border-radius: 0px;
}

.user-name
{
    color: #828282;
}

.red
{
    color: red;
}

.green
{
    color: green;
}

.blue
{
    color: blue;
}

.book
{
    padding: 10px;
}

.button-table
{
	width: 10%;
}

.navbar-fs
{
  font-size: 15px;
}

.due-date
{
  font-size: 16px;
}

.book-cover
{
  height: 350px;
}
